@model ProjectManageStudent.Models.Mark

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddMark2">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group ">
                    <input type="hidden" class="form-control" name="AccountId" value="@ViewData["userId"]" />
                </div>
                <div class="form-group ">
                    <label class="control-label"></label>
                    <select name="SubjectId" style="margin-top: 2%" class="form-control" asp-items="ViewBag.Subject"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Theory" class="control-label"></label>
                    <input asp-for="Theory" class="form-control" />
                    <span asp-validation-for="Theory" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Practice" class="control-label"></label>
                    <input asp-for="Practice" class="form-control" />
                    <span asp-validation-for="Practice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Assignment" class="control-label"></label>
                    <input asp-for="Assignment" class="form-control" />
                    <span asp-validation-for="Assignment" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <input type="submit" style="margin-top: 15%"  value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>